#The main datasource where the blast alignment will be stored 
database:
  dsn: "dbi:Oracle:host=yada;sid=yada"
  user: yada
  password: yada

#The database from where the hit id will be looked up 
#Absolutely dictybase specific
meta:
  dsn: "dbi:Oracle:host=yada;sid=yada"
  user: yada
  password: yada

#Where the gene product name is stored
#Absolutely dictybase specific
legacy:
  dsn: "dbi:Oracle:host=yada;sid=yada"
  user: yada
  password: yada

#query:
#  organism: dicty
#  parser: dicty

#target:
#  parser: none
#  organism: dpur

so: sequence
source: dictyBase_blast
database_source : GFF_source
match_type: protein_match

